@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  @apply m-0 p-0 box-border leading-tight;
}

a {
  @apply hover:text-primary transition-all;
}

:root {
  /* --background: white; */
  --foreground: #000;
  /* --foreground: #0d0d0d; */
}

[data-theme="dark"] {
  /* --background: #000; */
  --foreground: white;
}

html,
body {
  overflow-x: hidden;
  background: var(--background);
}

.hero-gradient-overlay {
  background: linear-gradient(2deg, black, #0000009e, #00000000);
}

.details-hero-gradient-overlay {
  background: linear-gradient(to right, black, #000000e0, #00000000);
}

@media screen and (max-width: 480px) {
  .details-hero-gradient-overlay {
    background: linear-gradient(to top, black, black, #00000066);
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  @apply border-[4px] border-primary;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader-spin {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-loader-animate {
  animation-name: fadeInFadeOutScale;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fadeInFadeOutScale {
  0% {
    transform: scale(0.9);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.3;
  }
}

.slick-track {
  gap: 10px;
  display: flex;
}

.slick-next,
.slick-prev {
  transform: translate(0, -50%) scale(2);
}

.slick-next:before,
.slick-prev:before {
  color: #868686;
}

/* .slick-list {
  overflow: visible;
  overflow-x: hidden;
} */

.alt-media-card {
  box-shadow: 0px 0px 20px 5px #000000cc;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    scale: 0.9;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.max-lines-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max-lines-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.max-lines-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.max-lines-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

#pro-bitrate-select {
  @apply outline-none cursor-pointer z-[100] rounded-[7px] right-[22px] top-[16px] absolute text-sm px-2 py-1;
}
